* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    width: 100%;
    height: auto;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
.top {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}
.top-img {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.top-img img {
    width: 100%;
    height: auto;
    animation: fading 8s infinite ease-in-out;
}
@keyframes fading { 
    0% {opacity:0}
    50% {opacity:1}
    100% {opacity:0}
}

.top-title {
    position: absolute;
    bottom: 10%;
    left: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
}
.top-title p {
    font-family: 'Old Standard TT', serif;
    font-size: 5vw;
}